*filter
:INPUT DROP [0:0]
:OUTPUT DROP [0:0]
:IN-FILTERS - [0:0]
:OUT-FILTERS - [0:0]

# Flush existing in/out chains
-F INPUT
-F OUTPUT
-F IN-FILTERS
-F OUT-FILTERS

############
# IN - DEFAULT
############
# Allow inbound loopback
-A INPUT -i lo -j ACCEPT
# Allow inbound ICMP
-A INPUT -p icmp --icmp-type any -j ACCEPT
# Allow established connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
# Append filters chain to default input policy
-A INPUT -j IN-FILTERS

############
# IN - CUSTOM
############
{% for in_rule in easy_iptables_in_rules %}
{{ "-A IN-FILTERS " + in_rule }}
{% endfor %}

############
# OUT - DEFAULT
############
# Allow outbound loopback
-A OUTPUT -o lo -j ACCEPT
# Allow outbound ICMP
-A OUTPUT -p icmp --icmp-type any -j ACCEPT
# Allow established connections
-A OUT-FILTERS -m state --state ESTABLISHED,RELATED -j ACCEPT
# Append filters chain to default output policy
-A OUTPUT -j OUT-FILTERS

############
# OUT - CUSTOM
############
{% for out_rule in easy_iptables_out_rules %}
{{ "-A OUT-FILTERS " + out_rule }}
{% endfor %}

COMMIT
